/* Set the background of your app to white */
body, html {
    margin: 0;
    padding: 0;
    background-color: white; /* Set background to white */
  }
  
  .questy-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white; /* Assuming you want a white background */
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.questy-gif {
    width: 15%; /* Adjust the size accordingly */
    height: auto;
    margin-right: 20px; /* Provides space between the image and the thought cloud */
}

  
.thought-cloud {
    background: url('../assets/ThoughtCloud.png') no-repeat center center;
    background-size: contain;
    width: 50px; /* Adjust according to your preference */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.thought-message {
    color: black;
    font-size: 1.5rem;
}

.status, .user-message {
    color: #333;
    margin: 10px 0;
    font-size: 1.2rem;
    width: 100%; /* Full width to ensure it stays on its own line */
    text-align: center; /* Center the text */
}

.toggle-listen {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}